.scrollyteller {
  margin-top: 0 !important;
}

.panel > * {
  transition: background-color 1s;
}

.scrollyteller .panel > * {
  text-align: center;
}

.scrollyteller > .panel:nth-child(2) > :first-child {
  margin-top: 60vh !important;
}

.scrollyteller:not(:global(.scene__tank)) .panel > *,
.scrollyteller .panel [name='intermission'] ~ * {
  background-color: transparent !important;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75) !important;
}

.scrollyteller .panel [name='intermission'] ~ * {
  padding: 0 0 1.5rem;
  font-size: 1.125rem;
  text-align: left;
}

@media (min-width: 61.25rem) {
  .scrollyteller .panel [name='intermission'] ~ * {
    padding-bottom: 2.25rem;
  }
}

/* Meta content (plucked from Header) */
.panel > h2 {
  opacity: 0;
}

.panel > h2 + :global(.Header-content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0 !important;
  width: 100% !important;
}

.panel > h2 + :global(.Header-content) > * {
  padding: 0 1rem;
}

.panel > h2 + :global(.Header-content) > p {
  margin-top: 0;
  max-width: 22rem;
  font-size: 0.875rem !important;
}

@media (min-width: 61.25rem) {
  .panel > h2 + :global(.Header-content) > p {
    max-width: 24rem;
    font-size: 1rem !important;
  }
}

.panel > h2 + :global(.Header-content) > div {
  margin: 0.25rem 0 0;
  color: #ccc;
}

/* Space for fade */

.panel:last-child {
  margin-bottom: 100vh !important;
}
