.scrollyteller {
  margin-top: 0 !important;
}

.panel {
  text-align: center;
}

.panel > * {
  transition: background-color 1s;
}

.scrollyteller:not(:global(.scene__tank)) .panel > * {
  background-color: transparent !important;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75) !important;
}

.panel > h2 {
  opacity: 0;
}

.panel:last-child {
  margin-bottom: 100vh !important;
}
