.scrollyteller > :first-child {
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.panel:global(.Block-content) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.panel:global(.Block-content)::before {
  content: none !important;
}

.panel:global(.Block-content) > * {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 12px 28px !important;
  width: 83.333333% !important;
  text-align: center !important;
  transition: background-color 1s;
}

@media (min-width: 668px) {
  .panel:global(.Block-content) > * {
    width: 100% !important;
  }
}

@media (min-width: 980px) {
  .panel:global(.Block-content) > * {
    padding: 18px 28px !important;
  }
}

.scrollyteller:global(.is-piecemeal) > .panel:global(.Block-content):nth-child(2) {
  min-height: 0;
}

.scrollyteller:global(.is-piecemeal) > .panel:global(.Block-content):nth-child(2) > h2 {
  margin-top: 0 !important;
}

:global(.is-piecemeal) > .panel:global(.Block-content):last-child > :first-child {
  margin-bottom: 40vh !important;
  background-color: transparent !important;
  color: #000 !important;
  text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.25) !important;
}
