@keyframes appear {
  0% {
    transform: translate(0, 100vh);
  }
  100% {
    transform: none;
  }
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  animation: appear 2s 1s ease-out both;
}

@keyframes hover {
  0%,
  100% {
    transform: translate(0, -0.5rem);
  }
  50% {
    transform: translate(0, 0.5rem);
  }
}

.neutrino {
  width: 141px;
  height: 140px;
  animation: hover 2s ease-out infinite;
}
