.scrollyteller {
  margin-top: 0 !important;
}

.center {
  text-align: center;
}

.scrollyteller > :first-child ~ * > * {
  transition: background-color 1s;
}

.scrollyteller:not(:global(.scene__tank)) > :first-child ~ * > * {
  background-color: transparent !important;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75) !important;
}

.scrollyteller > * > h2 {
  opacity: 0;
}

.scrollyteller > :last-child {
  margin-bottom: 100vh !important;
}
