html:not([veiled]):global(:not(.is-dark-mode)) > body {
  transition: background-color 1s 0.5s;
}

:global(#abcHeader.global) + [data-presentation-layer-async-component],
:global(#abcHeader.global) + [data-component='App'],
:global(.masthead-container) > [data-component='App'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

:global(.Header) {
  display: none;
}

.mountNode {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

:global(.Main) .mountNode + * {
  margin-top: -50vh !important;
}

:global(.Main) + :global(.Main) .mountNode + * {
  margin-top: 0;
}
